@using IOT_Class.Models;
@model AppUser
<li class="dropdown notification-list">
    <a class="nav-link dropdown-toggle nav-user mr-0 waves-effect" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
        <img src="~/assets/images/users/avatar-1.jpg" alt="user-image" class="rounded-circle">
        <input type="hidden" asp-for="@Model.Id"/>
        <span class="d-none d-sm-inline-block ml-1">@Model.UserName</span>
    </a>
    <div class="dropdown-menu dropdown-menu-right profile-dropdown ">
        <!-- item-->
        <div class="dropdown-header noti-title">
            <h6 class="text-overflow m-0">Welcome !</h6>
        </div>

        <!-- item-->
        <a asp-controller="Home" asp-action="UserProfileEdit" class="dropdown-item notify-item">
            <i class="mdi mdi-account-outline"></i>
            <span>Profile</span>
        </a>


        <div class="dropdown-divider"></div>

        <!-- item-->
        <a asp-controller="Admin" asp-action="Logout" class="dropdown-item notify-item">
            <i class="mdi mdi-logout-variant"></i>
            <span>Logout</span>
        </a>

    </div>
</li>
